einops
absl-py
#absl-py==1.2.0
einops
#einops==0.4.1
h5py
#h5py==3.7.0
keopscore
#keopscore==2.1
opt-einsum
#opt-einsum==3.3.0
pandas
#pandas==1.4.2 
pytorch-wavelet 
PyWavelets
#PyWavelets==1.4.1
scikit-image
#scikit-image==0.19.3
#scikit-learn==1.0.2
scikit-learn
scipy
#scipy==1.7.3
statsmodels
#statsmodels==0.13.2
sympy
#sympy==1.11.1
torch
#torch==1.9.0
